<div class="thank-you-page">
  <div class="container thank-you-page__container">
    <div class="thank-you-page__inner">
      <h1 class="thank-you-page__title">Заказ успешно отправлен.</h1>
      <div class="thank-you-page__description">
        Спасибо за использование нашего сайта.
        Надеемся вы будете в восторге от покупок.
        В ближайшее время с вами свяжется наш оператор.
      </div>
      <div class="thank-you-page__our-phone">
        <div class="thank-you-page__our-phone-label">Наш телефон</div>
        <div class="thank-you-page__our-phone-phone">+38 097 340 7233</div>
      </div>
      <div class="thank-you-page__buttons">
        <a class="thank-you-page__form-back" [routerLink]="['/home']">
          <i class="fa fa-angle-left"></i>
          <span>Вернуться к покупкам</span>
        </a>
      </div>
    </div>
  </div>
</div>
