@import './src/sass/variables';

.popular-collections {
  margin-bottom: 140px;
  width: 95%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 15px;
  }

  &__title {
    font-size: 30px;
    font-weight: $font-medium;
  }

  &__to-collections {

    a {
      font-size: 16px;
      color: $white-f7;
      font-weight: $font-medium;

      &:hover {
        color: $black;

        i {
          transform: translateX(2px);
        }

      }

      i {
        display: inline-block;
        transition: all .2s ease;
        font-size: 14px;
        margin-left: 6px;
      }
    }
  }

  &__right,
  &__left {
    position: absolute;
    right: calc(100% + 57px);
    top: 50%;
    transform: translateY(-50%);
    width: 54px;
    height: 54px;
    background-color: $white-f3;
    border-radius: 50%;
    font-size: 26px;
    border: none;
    box-shadow: none;
    font-weight: bold;
    transition: all .2s ease;
    cursor: pointer;

    @include mobile{
      right: auto;
    }

    @include ipad {
      right: auto;
    }

    &:hover,
    &:focus{
      outline: none;
      background-color: $white-f3 - 20;
    }
  }

  &__right {
    right: auto;
    left: calc(100% + 57px);

    @include mobile{
      left: calc(90%);
    }

    @include ipad {
      left: calc(100%);
    }

  }

  &__counter {
    margin-top: -24px;
    letter-spacing: 7px;
    font-size: 16px;
    font-weight: $font-medium;
    color: $gray-ab;
    text-align: right;

    span {
      color: $black;
    }
  }
}
