<div class="current-product">
  <div class="current-product-container">
    <div class="current-product__search-section">
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="productId" placeholder="ID продукта">
      </mat-form-field>

      <button mat-button (click)="searchProduct(productId)" color="primary">Найти Продукт</button>
    </div>

    <div *ngIf="adminProduct">
      <div class="current-product-container__column">
        <div class="current-product-container__column-block">
          <div class="current-product-container__column-block-name">Название продукта</div>
          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.russianName" placeholder="Название RU">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.englishName" placeholder="Название EN">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.ukrainianName" placeholder="Название UA">
          </mat-form-field>
        </div>

        <div class="current-product-container__column-block">
          <div class="current-product-container__column-block-name">Описание продукта</div>
          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.russianDescription" placeholder="Описание RU">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.englishDescription" placeholder="Описание EN">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.ukrainianDescription" placeholder="Описание UA">
          </mat-form-field>
        </div>

        <div class="current-product-container__column-block">
          <div class="current-product-container__column-block-name">Свойства</div>
          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.price" type="number" placeholder="Цена">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.size" placeholder="Размер">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="adminProduct.articul" placeholder="Артикул">
          </mat-form-field>
        </div>
      </div>

      <div class="current-product-container__column">
        <div class="current-product-container__column-block">
          <div class="current-product-container__column-block-name">Разновидность</div>

          <mat-form-field class="current-product-container__column-mat-form-field">
            <mat-select placeholder="Тип" [(value)]="adminProduct.productTypeID" required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let adminProductType of adminProductTypes" [value]="adminProductType.id">{{adminProductType.nameRU}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="current-product-container__column-mat-form-field">
            <mat-select placeholder="Категории" [formControl]="categoryForm" multiple required>
              <mat-option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="categoryForm.hasError('required')">Выбери Тип</mat-error>
          </mat-form-field>

          <mat-form-field class="current-product-container__column-mat-form-field">
            <mat-select placeholder="Материал" [formControl]="materialForm" multiple required>
              <mat-option *ngFor="let material of materialList" [value]="material.id">{{material.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="materialForm.hasError('required')">Выбери материал</mat-error>
          </mat-form-field>

          <mat-form-field class="current-product-container__column-mat-form-field">
            <mat-select placeholder="Технологии" [formControl]="technologyForm" multiple required>
              <mat-option *ngFor="let technology of technologyList" [value]="technology.id">{{technology.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="technologyForm.hasError('required')">Выбери технологию</mat-error>
          </mat-form-field>

          <mat-form-field class="current-product-container__column-mat-form-field">
            <mat-select placeholder="Популярный товар" [(value)]="adminProduct.popular">
              <mat-option [value]="2">Да в тренде</mat-option>
              <mat-option [value]="1">Да, домашняя страница страница</mat-option>
              <mat-option [value]="0">Нет</mat-option>
              <mat-option [value]="3">Заголовок</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="current-product-container__column-mat-form-field">
            <mat-select placeholder="Показывать как постер" [(value)]="adminProduct.imagePresentation">
              <mat-option [value]="1">Да</mat-option>
              <mat-option [value]="0">Нет</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="current-product-container__column-block">
          <div class="current-product-container__column-block-name">Изображение</div>
          <mat-form-field class="current-product-container__column-mat-form-field">
            <input matInput [(ngModel)]="adminProduct.image" placeholder="Введите URL рисунка">
          </mat-form-field>

          <div>
            <div>Background</div>
            <input [(colorPicker)]="adminProduct.background" [style.background]="adminProduct.background"/>
          </div>
        </div>

        <!--div class="current-product-container__column-block" *ngIf="adminProduct.imagePresentation == 0"-->
        <div class="current-product-container__column-block">
          <div class="current-product-container__column-block-name">Изобрежения галлереи</div>
          <mat-form-field *ngFor="let image of adminProduct.images; let i = index" class="current-product-container__column-mat-form-field">
            <input matInput [(ngModel)]="adminProduct.images[i]" placeholder="Введите URL рисунка">
          </mat-form-field>
          <button mat-button (click)="addGalleryImage()" color="primary">Добавить</button>
          <button mat-button (click)="removeGalleryImage()" color="primary">Удалить</button>

        </div>
      </div>

      <div class="current-product-container__column">
        <div></div>
      </div>
    </div>

  </div>
  <button mat-button *ngIf="adminProduct" (click)="updateProduct()" class="createModifyButton" color="primary">Modify</button>
  <button mat-button *ngIf="adminProduct" (click)="cancelUpdate()" class="createModifyButton" color="primary">Cancel</button>

</div>
