<div class="current-categories">
  <div class="current-categories__list current-categories__column">
    <div *ngFor="let adminProductType of adminProductTypes">
      <span class="current-categories__list-item" (click)="showCategory(adminProductType)">{{adminProductType.nameRU}}</span>
    </div>
  </div>

  <div *ngIf="adminProductType" class="current-categories__view current-categories__column">
    <div class="current-categories__view__category" [ngStyle]="{'background-color': adminProductType.background}">{{adminProductType.nameRU}}</div>
    <div class="current-categories__view__img"
         [ngStyle]="{'background-image': 'url(' + adminProductType.imageURL + ')', 'background-color': adminProductType.background, 'background-blend-mode': 'darken'}"
    ></div>
    <button mat-button class="current-categories__view__modify" (click)="modifyCategory()">Modify</button>
    <button mat-button class="current-categories__view__modify" (click)="showDeleteMessage()">Delete</button>
    <div *ngIf="deleteMessage">
      <div class="current-categories__view__delete-message">Вы точно хотете удалить эту категорию?</div>
      <div>
        <button mat-button class="current-categories__view__modify" (click)="deleteCategory()">Да</button>
        <button mat-button class="current-categories__view__modify" (click)="showDeleteMessage(false)">Нет</button>
      </div>
    </div>
  </div>

  <div *ngIf="adminProductType && modify" class="current-categories__modify current-categories__column">
    <mat-form-field>
      <input matInput [(ngModel)]="adminProductType.nameRU" placeholder="Название RU">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="adminProductType.nameEN" placeholder="Название EN">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="adminProductType.nameUA" placeholder="Название UA">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="adminProductType.imageURL" placeholder="Введите URL рисунка">
    </mat-form-field>

    <mat-form-field class="simple-product-container__column-mat-form-field">
      <mat-select placeholder="Видимая катгория" [(value)]="adminProductType.visible">
        <mat-option [value]="1">Да</mat-option>
        <mat-option [value]="0">Нет</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <div>Background</div>
      <input [(colorPicker)]="adminProductType.background" [style.background]="adminProductType.background"/>
    </div>

    <button mat-button (click)="updateCategory()" color="primary">Сохранить</button>
  </div>
</div>
