<div class="cart" *ngIf="cartResult"
     [ngClass]="{'_opened' : isOpened}"
>
  <i class="cart__close"
     (click)="onCartClose()"
  ></i>
  <div class="cart__header">
    <div class="cart__title"><span i18n>Корзина</span> <span class="cart__count">{{cartResult.count}}</span></div>
    <div class="cart__clear">
      <button (click)="cleanCart()" i18n>Очистить</button>
    </div>
  </div>
  <perfect-scrollbar [config]="config" style="max-height: calc(100vh - 243px);">
  <div class="cart__body">
    <div class="cart__products">
      <div class="cart__product"
             *ngFor="let cartItem of cartResult.cartItems"
      >
        <a
          class="cart__product-img"
          [routerLink]="['/product', cartItem.product.id]"
          [ngStyle]="{'background-color': '#faf4f1'}"
        >
          <img src="{{cartItem.product.image}}" alt="">
        </a>
        <div class="cart__product-info">
          <div class="cart__product-top">
            <div class="cart__product-name">{{cartItem.product.name}}</div>
            <div class="cart__product-price">{{cartItem.calculatedPrice}}</div>
          </div>
          <div class="cart__product-bot">
            <div class="cart__product-counter">
              <button class="cart__product-counter-plus" (click)="changeProductCountMinus(cartItem)" [disabled]="isMinusDisabled(cartItem)"><i class="fa fa-minus" aria-hidden="true"></i></button>
              <input type="text" value="{{cartItem.count}}" class="cart__product-counter-input">
              <button class="cart__product-counter-minus" (click)="changeProductCountPlus(cartItem)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="cart__product-remove" (click)="deleteItem(cartItem.product)">
              <button><img src="assets/images/icon-trash.svg" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </perfect-scrollbar>
  <div class="cart__footer">
    <div class="cart__footer-top">
      <div class="cart__footer-title" i18n>Итого</div>
      <div class="cart__footer-total">{{cartResult.fullPrice}} <span i18n>грн</span></div>
    </div>
    <div class="cart__footer-order">
      <button class="button _wide" [disabled]="!isCartHasItems()" (click)="navigateToPayment()" i18n>Оформить</button>
    </div>
  </div>
</div>
