<div class="interactive-image">
  <div class="interactive-image__img">
    <img src="{{image}}" alt="">
  </div>
  <div
    *ngFor="let product of products"
    class="interactive-image__dot"
    [class.active]="product.active"
    [ngStyle]=product.position
    (click)="onToggleHint(product)"
  >
    <div
      *ngIf="product.active"
      class="interactive-image__hint"
    >
      <div class="interactive-image__hint-category">{{product.category}}</div>
      <div class="interactive-image__hint-image">
        <img src="{{product.image}}" alt="">
      </div>
      <div class="interactive-image__hint-name">{{product.name}}</div>
      <div class="interactive-image__hint-price">{{product.price}}</div>
      <div class="interactive-image__hint-button">
        <button routerLink="{{product.link}}" class="button _wider">Купить</button>
      </div>
    </div>
  </div>
</div>
