<div class="interactive-image">
  <div class="interactive-image__img">
    <img src="{{collection.bundleImage}}" alt="">
  </div>
  <div
    *ngFor="let childItem of collection.childItems"
    class="interactive-image__dot"
    [class.active]="isActive(childItem)"
    [ngStyle]="getPosition(childItem)"
    (click)="onToggleHint(childItem)"
  >
    <div
      *ngIf="isActive(childItem)"
      class="interactive-image__hint"
    >
      <div class="interactive-image__hint-category">{{childItem.product.category}}</div>
      <div class="interactive-image__hint-image">
        <img src="{{childItem.product.image}}" alt="">
      </div>
      <div class="interactive-image__hint-name">{{childItem.product.name}}</div>
      <div class="interactive-image__hint-price">{{childItem.product.price}} грн</div>
      <div class="interactive-image__hint-button">
        <button [routerLink]="['/product', childItem.product.id]" class="button _wider">Купить</button>
      </div>
    </div>
  </div>
</div>
