<mat-tab-group>
  <mat-tab label="Продукты"><app-products></app-products></mat-tab>
  <mat-tab label="Коллекции"><app-collections></app-collections></mat-tab>
  <mat-tab label="Типы"><app-categories></app-categories></mat-tab>
  <mat-tab label="Материал"><app-materials></app-materials></mat-tab>
  <mat-tab label="Категории"><app-types></app-types></mat-tab>
  <mat-tab label="Технологии"><app-technology></app-technology></mat-tab>
  <mat-tab label="Цвета"><app-colors></app-colors></mat-tab>
</mat-tab-group>
