<div class="search">
  <div class="container search__container">
    <div class="search__request">
      <div class="search__title">Поиск</div>
      <div class="search__request-form">
        <form #myForm="ngForm"  (ngSubmit)="getFullSearchResult(1)" novalidate>
          <input name="search" (keyup)="getFullSearchResult(2)" placeholder="Вы ищите…" [(ngModel)]="search">
        </form>
      </div>
    </div>
    <div class="search__result">
      <div class="product-grid">
        <app-product-single
          *ngFor="let product of products"
          [product]="product"
        ></app-product-single>
      </div>
    </div>
  </div>
</div>
