<div class="popular-products">
  <div class="container popular-products__container">
    <div class="popular-products__header">
      <div class="popular-products__title">
        Популярные товары
      </div>
      <div class="popular-products__to-catalog">
        <a routerLink="/category">Перейти в каталог <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
    <div class="popular-products__items">
      <a *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: page }"
        [routerLink]="['/product', product.id]"
        class="popular-products__item"
        [ngStyle]="{'background-color': product.background}">
        <div class="popular-products__item-category">{{product.productType.name}}</div>
        <div class="popular-products__item-img"
          [ngStyle]="{'background-image': 'url(' + product.image + ')', 'background-color': product.background, 'background-blend-mode': 'darken'}"
        ></div>
        <div class="popular-products__item-info">
          <div class="popular-products__item-name">{{product.name}}</div>
          <div class="popular-products__item-price">{{product.price}} грн</div>
        </div>
      </a>
    </div>
    <div class="popular-products__pagination">
      <pagination-controls (pageChange)="pageChanges($event)"></pagination-controls>
    </div>
  </div>
</div>
