<a
  [routerLink]="['/product', product.id]"
  class="product-single"
  [ngStyle]="{'background-color': '#f9f9f9'}"
>
  <div class="product-single__category">{{product.productTypes[0].name}}</div>
  <div class="product-single__img"
    [ngStyle]="{'background-image': 'url(http://omegatea.ru/img/big/522000.png)'}"
  ></div>
  <div class="product-single__info">
    <div class="product-single__name">{{product.name}}</div>
    <div class="product-single__price">{{product.price}} грн.</div>
  </div>
</a>
