<div class="simple-category-container">
  <div class="simple-category-container__with-border">
    <mat-form-field>
      <input matInput [(ngModel)]="adminProductType.nameRU" placeholder="Название RU">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="adminProductType.nameEN" placeholder="Название EN">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="adminProductType.nameUA" placeholder="Название UA">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="adminProductType.imageURL" placeholder="Введите URL рисунка">
    </mat-form-field>

    <mat-form-field class="simple-product-container__column-mat-form-field">
      <mat-select placeholder="Видимая катгория" [(value)]="adminProductType.visible">
        <mat-option [value]="1">Да</mat-option>
        <mat-option [value]="0">Нет</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="createOrUpdateCategory(adminProductType.id)" color="primary">Создать</button>
  </div>

  <div class="simple-category-container__simple-view">
    <div class="simple-category-container__simple-view__category">{{adminProductType.nameRU}}</div>
    <div class="simple-category-container__simple-view__img"
         [ngStyle]="{'background-image': 'url(' + adminProductType.imageURL + ')'}"
    ></div>
  </div>
</div>
