<div class="payment-page">
  <div class="container payment-page__container">
    <form class="payment-page__form">
      <div class="payment-page__form-row">
        <h2 class="payment-page__title" i18n>Информация о покупателе</h2>
        <div class="payment-page__form-inner">
          <div class="input payment-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Имя" [formControl]="firstName" [(ngModel)]="contact.firstName" required name="name">
              <mat-error *ngIf="firstName.invalid">{{getFistNameErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="input payment-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Фамилия" [formControl]="lastName" [(ngModel)]="contact.lastName" required name="lastName">
              <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="input payment-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Емейл" [formControl]="email" [(ngModel)]="contact.email"  required name="email">
              <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="input payment-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Телефон" [formControl]="phone" [(ngModel)]="contact.phone" required name="phone">
              <mat-error *ngIf="phone.invalid">{{getPhoneErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
         <!-- <div class="payment-page__form-subscribe">
            <mat-checkbox class="example-margin" name="subscribe" [(ngModel)]="checked">Подписаться на рассылку</mat-checkbox>
          </div>-->
        </div>
      </div>
      <div class="payment-page__form-row" *ngIf="dontHaveItems" i18n>
        У вас нет выбранных товаров, вы можете вернутся на главную страницу и сделать заказ.
      </div>
      <div class="payment-page__form-row">
        <h2 class="payment-page__title" i18n>Доставка и оплата</h2>
        <div class="payment-page__form-inner">
          <div class=" payment-page__form-input _select">
            <mat-form-field>
              <mat-select placeholder="Способ доставки" [(ngModel)]="contact.delivery" name="payment">
                <mat-option [value]="'post'">Новая Почта</mat-option>
                <mat-option [value]="'kiev'">Самовывоз Киев, дарынок</mat-option>
                <mat-option [value]="'kremenchuk'">Самовывоз Кременчуг, магазин</mat-option>
                <!--<mat-option>None</mat-option>-->
                <!--<mat-option *ngFor="let method of payment.methods" [value]="method">
                  {{method}}
                </mat-option>-->
              </mat-select>
            </mat-form-field>
          </div>
          <!--<div class=" payment-page__form-input _select">
            <mat-form-field>
              <mat-select placeholder="Отделение" [(ngModel)]="selectedValue2" name="payment">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let department of payment.departments" [value]="department">
                  {{department}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class=" payment-page__form-input _select">
            <mat-form-field>
              <mat-select placeholder="Способ оплаты" [(ngModel)]="selectedValue3" name="payment">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let way of payment.ways" [value]="way">
                  {{way}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>-->
        </div>
      </div>
      <div class="payment-page__form-row">
        <div class="payment-page__form-buttons">
          <a class="payment-page__form-back" [routerLink]="['/home']">
            <i class="fa fa-angle-left"></i>
            <span i18n>Вернуться к покупкам</span>
          </a>
          <button class="button payment-page__form-submit" (click)="submitOrder()" i18n>Заказать</button>
        </div>
      </div>
    </form>
   <app-summary></app-summary>
  </div>
</div>
