<div class="payment-page">
  <div class="container payment-page__container">
    <form class="payment-page__form">
      <div class="payment-page__form-row">
        <h2 class="payment-page__title">Информация о покупателе</h2>
        <div class="payment-page__form-inner">
          <div class="input payment-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Имя" [(ngModel)]="person.name" name="name">
            </mat-form-field>
          </div>
          <div class="input payment-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Фамилия" [(ngModel)]="person.firstname" name="name">
            </mat-form-field>
          </div>
          <div class="input payment-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Емейл" [(ngModel)]="person.email" name="name">
            </mat-form-field>
          </div>
          <div class="input payment-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Телефон" [(ngModel)]="person.phone" name="name">
            </mat-form-field>
          </div>
          <div class="payment-page__form-subscribe">
            <mat-checkbox class="example-margin" name="subscribe" [(ngModel)]="checked">Подписаться на рассылку</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="payment-page__form-row">
        <h2 class="payment-page__title">Доставка и оплата</h2>
        <div class="payment-page__form-inner">
          <div class=" payment-page__form-input _select">
            <mat-form-field>
              <mat-select placeholder="Способ доставки" [(ngModel)]="selectedValue1" name="payment">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let method of payment.methods" [value]="method">
                  {{method}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class=" payment-page__form-input _select">
            <mat-form-field>
              <mat-select placeholder="Отделение" [(ngModel)]="selectedValue2" name="payment">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let department of payment.departments" [value]="department">
                  {{department}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class=" payment-page__form-input _select">
            <mat-form-field>
              <mat-select placeholder="Способ оплаты" [(ngModel)]="selectedValue3" name="payment">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let way of payment.ways" [value]="way">
                  {{way}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="payment-page__form-row">
        <div class="payment-page__form-buttons">
          <a class="payment-page__form-back">
            <i class="fa fa-angle-left"></i>
            <span>Вернуться к покупкам</span>
          </a>
          <button class="button payment-page__form-submit">Заказать</button>
        </div>
      </div>
    </form>
   <app-summary></app-summary>
  </div>
</div>
