@import './src/sass/variables';

.similar-products {
  &__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 35px;
  }

  &-slider {
    &__container{
      margin-right: 12px;
    }

    &__right,
    &__left {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 54px;
      height: 54px;
      background-color: $white-f3;
      border-radius: 50%;
      font-size: 26px;
      border: none;
      box-shadow: none;
      font-weight: bold;
      transition: all .2s ease;
      cursor: pointer;

      &:hover,
      &:focus{
        outline: none;
        background-color: $white-f3 - 20;
      }
    }
    &__right {
      right: 30px;
      left: auto;
    }


  }
}
