@import './src/sass/variables';

.header {
  background-color: $white;

  &__logo {
    position: absolute;
    left: calc(50% - 45px);
    top: calc(50% - 18px);
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    font-weight: $font-medium;
    display: flex;
    algin-items: center;
    color: $black;

    &:hover,
    &.active{
      color: $gray-ab;
    }

    &._cart {
      position: relative;

      span {
        position: absolute;
        right: -6px;
        bottom: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 17px;
        border-radius: 50%;
        background-color: $black;
        color: $white;
        font-size: 10px;
        border: 2px solid $white;
        padding: 0 4px;
        z-index: 10;
      }
    }

    &-wrap {
      position: relative;
      &:not(._cart) {
        margin-right: 40px;
      }

      &._search {
        margin-right: 60px;

        &:after {
          content: "";
          position: absolute;
          right: -30px;
          top: calc(50% - 10px);
          width: 1px;
          height: 20px;
          background-color: $gray-ab;
        }
      }

      &._search a,
      &._cart a{
        &:hover,
        &.active {
          opacity: .3;
        }
      }
    }
  }
}
