<header class="header">
  <div class="container header__inner">
    <div class="header__menu">
      <div class="header__nav">
        <app-navigation></app-navigation>
      </div>
      <div class="header__logo">
        <img src="/" alt="WOOD">
      </div>
      <ul class="header__actions">
        <li><a routerLink="/not-found" class="header__link" routerLinkActive="_active">О нас</a></li>
        <li><a routerLink="/not-found" class="header__link" routerLinkActive="_active">Рус</a></li>
      </ul>
    </div>
  </div>
</header>
