<div class="payment-page__order" *ngIf="cartResult">
  <h2 class="payment-page__title"><span i18n>Ваш Заказ</span><span> {{cartResult.count}}</span></h2>
  <perfect-scrollbar [config]="config" style="max-height: 460px;">
    <div class="payment-page__products">
      <div *ngFor="let cartItem of cartResult.cartItems" class="payment-page__product">
        <a
          class="payment-page__product-img"
          [routerLink]="['/product', cartItem.product.id]"
          [ngStyle]="{'background-color': '#fffef0'}"
        >
          <img src="{{cartItem.product.image}}" alt="">
        </a>
        <div class="payment-page__product-info">
          <div class="payment-page__product-top">
            <div class="payment-page__product-name">{{cartItem.product.name}}</div>
            <div class="payment-page__product-price">{{cartItem.calculatedPrice}} <span i18n>грн</span></div>
          </div>
          <div class="payment-page__product-bot">
            <div class="payment-page__product-counter">
              <button class="payment-page__product-counter-plus" (click)="changeProductCountMinus(cartItem)" [disabled]="isMinusDisabled(cartItem)"><i class="fa fa-minus" aria-hidden="true"></i></button>
              <input type="text" value="{{cartItem.count}}" class="payment-page__product-counter-input">
              <button class="payment-page__product-counter-minus" (click)="changeProductCountPlus(cartItem)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="payment-page__product-remove" (click)="deleteItem(cartItem.product)">
              <button><img src="assets/images/icon-trash.svg" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <!--div class="payment-page__promo">
    <div class="input">
      <input type="text" placeholder="Введите Промо Код" class="payment-page__promo-input">
    </div>
    <button class="button _gray payment-page__promo-btn">Применить</button>
  </div>
  <div class="payment-page__price">
    <div class="payment-page__price-title">Стоимость</div>
    <div class="payment-page__price-num">3885 грн</div>
  </div>
  <div class="payment-page__price">
    <div class="payment-page__price-title">Стоимость</div>
    <div class="payment-page__price-num">3885 грн</div>
  </div-->
  <div class="payment-page__price _bold">
    <div class="payment-page__price-title" i18n>Стоимость</div>
    <div class="payment-page__price-num">{{cartResult.fullPrice}} <span i18n>грн</span></div>
  </div>
</div>
