<div class="collection-single"
  [ngClass]="{'_reverse' : reverse%2===0}"
>
    <div class="collection-single__img">
      <app-interactive-image  [collection]="collection"></app-interactive-image>
    </div>
    <div class="collection-single__info">
      <div class="collection-single__category">Коллекция</div>
      <div class="collection-single__name">{{collection.name}}</div>
      <div class="collection-single__button">
        <button class="button">Все в корзину</button>
      </div>
      <div class="collection-single__to-product">
        <a routerLink="/category">{{collection.childItems.length}} товара<i class="fa fa-angle-right"></i></a>
      </div>
      <div class="collection-single__description">
       {{collection.description}}
      </div>
    </div>
</div>
