@import './src/sass/variables';

.collection-single {
  display: flex;
  align-items: center;
  position: relative;

  &._reverse {
    flex-direction: row-reverse;
  }

  &._reverse &__info {
    left: 0;
    right: auto;
  }

  &__img {
    position: relative;
    max-width: 768px;
  }

  &__info {
    position: absolute;
    right: 0;
    top: 50%;
    width: 456px;
    padding: 40px 50px;
    background-color: $white;
    transform: translateY(-50%);

  }

  &__description {
    margin-top: 22px;
  }

  &__category {
    font-size: 18px;
    font-weight: $font-medium;
    color: $white-f7;
    margin-bottom: 15px;
  }

  &__name {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 24px;
  }

  &__button {
    margin-bottom: 35px;
  }

  &__to-product {
    a {
      font-size: 16px;
      font-weight: $font-medium;
      color: $white-f7;

      i {
        display: inline-block;
        transition: all .2s ease;
        font-size: 14px;
        margin-left: 6px;
      }

      &:hover {
        color: $black;

        i {
          transform: translateX(2px);
        }
      }
    }
  }
}
