<div class="simple-collection">
  <div class="simple-collection-container">
    <div class="simple-collection-container__column">
      <div class="simple-collection-container__column-block">
        <div class="simple-collection-container__column-block-name">Название продукта</div>
        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.russianName" placeholder="Название RU">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.englishName" placeholder="Название EN">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.ukrainianName" placeholder="Название UA">
        </mat-form-field>
      </div>

      <div class="simple-collection-container__column-block">
        <div class="simple-collection-container__column-block-name">Описание продукта</div>
        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.russianDescription" placeholder="Описание RU">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.englishDescription" placeholder="Описание EN">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.ukrainianDescription" placeholder="Описание UA">
        </mat-form-field>
      </div>

      <div class="simple-collection-container__column-block">
        <div class="simple-collection-container__column-block-name">Свойства</div>
        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.price" type="number" placeholder="Цена">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.size" placeholder="Размер">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="adminProduct.articul" placeholder="Артикул">
        </mat-form-field>
      </div>
    </div>

    <div class="simple-collection-container__column">
      <div class="simple-collection-container__column-block">
        <div class="simple-collection-container__column-block-name">Разновидность</div>

        <mat-form-field class="simple-collection-container__column-mat-form-field">
          <mat-select placeholder="Тип" [(value)]="adminProduct.productTypeID" required>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let adminProductType of adminProductTypes" [value]="adminProductType.id">{{adminProductType.nameRU}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="simple-collection-container__column-mat-form-field">
          <mat-select placeholder="Категории" [formControl]="categoryForm" multiple required>
            <mat-option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="categoryForm.hasError('required')">Выбери Тип</mat-error>
        </mat-form-field>

        <mat-form-field class="simple-collection-container__column-mat-form-field">
          <mat-select placeholder="Материал" [formControl]="materialForm" multiple required>
            <mat-option *ngFor="let material of materialList" [value]="material.id">{{material.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="materialForm.hasError('required')">Выбери материал</mat-error>
        </mat-form-field>

        <mat-form-field class="simple-collection-container__column-mat-form-field">
          <mat-select placeholder="Цвета" [formControl]="productColorForm" multiple required>
            <mat-option *ngFor="let productColor of productColorList" [value]="productColor.id">{{productColor.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="productColorForm.hasError('required')">Выбери цвет</mat-error>
        </mat-form-field>

        <mat-form-field class="simple-collection-container__column-mat-form-field">
          <mat-select placeholder="Технологии" [formControl]="technologyForm" multiple required>
            <mat-option *ngFor="let technology of technologyList" [value]="technology.id">{{technology.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="technologyForm.hasError('required')">Выбери технологию</mat-error>
        </mat-form-field>

        <mat-form-field class="simple-collection-container__column-mat-form-field">
          <mat-select placeholder="Популярный товар" [(value)]="adminProduct.popular">
            <mat-option [value]="1">Да, домашняя страница страница</mat-option>
            <mat-option [value]="0">Нет</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="simple-collection-container__column-block">
        <div class="simple-collection-container__column-block-name">Изображение</div>
        <mat-form-field class="simple-collection-container__column-mat-form-field">
          <input matInput [(ngModel)]="adminProduct.image" placeholder="Введите URL рисунка">
        </mat-form-field>
      </div>


      <div class="simple-collection-container__column-block">
        <div class="simple-collection-container__column-block-name">Изображение Коллекции</div>
        <mat-form-field class="simple-collection-container__column-mat-form-field">
          <input matInput [(ngModel)]="adminProduct.bundleImage" placeholder="Введите URL рисунка">
        </mat-form-field>
      </div>
    </div>

    <div class="simple-collection-container__column">
      <div class="interactive-image">
        <div class="interactive-image__img">
          <img src="{{adminProduct.bundleImage}}" alt="">
        </div>
        <div
          *ngFor="let childItem of bundleChild"
          class="interactive-image__dot"
          [class.active]="isActive(childItem)"
          [ngStyle]="getPosition(childItem)"
          (click)="onToggleHint(childItem)"
        >
          <div
            *ngIf="isActive(childItem)"
            class="interactive-image__hint"
          >
            <div class="interactive-image__hint-category">{{childItem.product.category}}</div>
            <div class="interactive-image__hint-image">
              <img src="{{childItem.product.image}}" alt="">
            </div>
            <div class="interactive-image__hint-name">{{childItem.product.name}}</div>
            <div class="interactive-image__hint-price">{{childItem.product.price}} грн</div>
            <div class="interactive-image__hint-button">
              <button [routerLink]="['/product', childItem.product.id]" class="button _wider">Купить</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="simple-collection-container__column-buttons">
      <button mat-button (click)="addProductToBundle()" color="primary">Добавить</button>
      <button mat-button (click)="removeProductFromBundle()" color="primary">Удалить</button>
    </div>

    <div *ngFor="let childItem of bundleChild" class="collections_cordinate">
      <mat-form-field>
        <input matInput [(ngModel)]="childItem.x_coordinate" type="number" placeholder="X coordinate">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="childItem.y_coordinate" type="number" placeholder="Y coordinate">
      </mat-form-field>

      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="childItem.product.id" type="number" min="1" align="end" (change)="productIdChanged($event.target.value, childItem)" placeholder="Product ID">
        </mat-form-field>
      </div>
    </div>
  </div>

  <button mat-button (click)="createOrUpdateProduct(adminProduct.id)" color="primary">Создать</button>
</div>
