<div class="filter-sidebar" [hidden]="hiddenSection">
  <i class="filter-sidebar__close" (click)="hideFilters(true)"></i>
  <div class="filter-sidebar__header">
    <div class="filter-sidebar__header-title" i18n>Фильтры</div>
    <div class="filter-sidebar__reset" (click)="clear()" i18n>Сбросить</div>
  </div>
  <perfect-scrollbar style="max-height: calc(100vh - 110px);">
  <div class="filter-sidebar__body">
    <mat-accordion multi="true">

      <mat-expansion-panel *ngIf="categoryList">
        <mat-expansion-panel-header
          collapsedHeight="59px"
          expandedHeight="59px">
          <span i18n>Категории</span> <span>{{getSelectedItemsLength(categoryList)}}</span>
        </mat-expansion-panel-header>
        <div class="filter-sidebar__items">
          <div class="filter-sidebar__item" *ngFor="let category of (categoryList ? categoryList.slice(0,categoryLimit): [])">
            <mat-checkbox [checked]="category.checked" (change)="onChange($event, i, category)">{{category.name}}</mat-checkbox>
          </div>
          <div class="filter-sidebar__show-more" *ngIf="categoryList.length > 4 && categoryLimit < 5" (click)="showMoreCategories()" i18n>Еще</div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="materialList">
        <mat-expansion-panel-header
          collapsedHeight="59px"
          expandedHeight="59px">
          <span i18n>Материал</span> <span>{{getSelectedItemsLength(materialList)}}</span>
        </mat-expansion-panel-header>
        <div class="filter-sidebar__items">
          <div class="filter-sidebar__item" *ngFor="let material of (materialList ? materialList.slice(0,materialLimit): [])">
            <mat-checkbox [checked]="material.checked" (change)="onChangeMaterial($event, i, material)">{{material.name}}</mat-checkbox>
          </div>
          <div class="filter-sidebar__show-more" *ngIf="materialList.length > 4 && materialLimit < 5" (click)="showMoreMaterial()" i18n>Еще</div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="productColorList">
        <mat-expansion-panel-header
          collapsedHeight="59px"
          expandedHeight="59px">
          <span i18n>Цвета</span> <span>{{getSelectedItemsLength(productColorList)}}</span>
        </mat-expansion-panel-header>
        <div class="filter-sidebar__items">
          <div class="filter-sidebar__item" *ngFor="let productColor of (productColorList ? productColorList.slice(0,productColorLimit): [])">
            <mat-checkbox [checked]="productColor.checked" (change)="onChangeColor($event, i, productColor)">{{productColor.name}}</mat-checkbox>
          </div>
          <div class="filter-sidebar__show-more" *ngIf="productColorList.length > 4 && productColorLimit < 5" (click)="showMoreProductColor()" i18n>Еще</div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="technologyList">
        <mat-expansion-panel-header
          collapsedHeight="59px"
          expandedHeight="59px">
          <span i18n>Техника</span><span>{{getSelectedItemsLength(categoryList)}}</span>
        </mat-expansion-panel-header>
        <div class="filter-sidebar__items">
          <div class="filter-sidebar__item" *ngFor="let technology of (technologyList ? technologyList.slice(0,technologyLimit): [])">
            <mat-checkbox [checked]="technology.checked" (change)="onChangeTechnology($event, i, technology)">{{technology.name}}</mat-checkbox>
          </div>
          <div class="filter-sidebar__show-more" *ngIf="technologyList.length > 4 && technologyLimit < 5" (click)="showMoreTechnology()">Еще</div>
        </div>
      </mat-expansion-panel>


      <!--<mat-expansion-panel>
        <mat-expansion-panel-header
          collapsedHeight="59px"
          expandedHeight="59px"
        >
          Размеры <span>1</span>
        </mat-expansion-panel-header>
        <div class="filter-sidebar__items">
          <div class="filter-sidebar__item"><mat-checkbox>Автомобиль</mat-checkbox></div>
          <div class="filter-sidebar__item"><mat-checkbox>Юмор</mat-checkbox></div>
          <div class="filter-sidebar__item"><mat-checkbox>Кухня</mat-checkbox></div>
          <div class="filter-sidebar__item"><mat-checkbox>Здоровье</mat-checkbox></div>
          <div class="filter-sidebar__show-more">Еще</div>
        </div>
      </mat-expansion-panel>-->

    </mat-accordion>
  </div>
  </perfect-scrollbar>
</div>
