<ul
  class="navigation"
  [ngClass]="{'_reverse' : reverse}"
>
  <li class="navigation__link-wrap"><a routerLink="/trends" class="navigation__link" routerLinkActive="active">В тренде</a></li>
  <li class="navigation__link-wrap">
    <a routerLink="/category" class="navigation__link" routerLinkActive="active">
      Каталог <i class="fa fa-angle-down"></i>
    </a>
    <ul class="navigation__submenu">
      <li><a routerLink="/category">Постеры</a></li>
      <li><a routerLink="/category">Газетнецы и журнальницы</a></li>
      <li><a routerLink="/category">Шкатулки</a></li>
      <li><a routerLink="/category">Магниты на холодильник</a></li>
      <li><a routerLink="/category">Вечные календари</a></li>
      <li><a routerLink="/category">Фонарики</a></li>
      <li><a routerLink="/category">Конфетницы и спецовницы</a></li>
      <li><a routerLink="/category">Настенное пано</a></li>
    </ul>
  </li>
  <li class="navigation__link-wrap"><a routerLink="/collections" class="navigation__link" routerLinkActive="active">Коллекции</a></li>
</ul>
