@import './src/sass/variables';

.navigation {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &__link {
    color: $black;
    font-weight: $font-medium;

    &.active,
    &:hover {
      color: $gray-ab;
    }

    &-wrap {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}
