@import './src/sass/variables';

.navigation {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &__link {
    color: $black;
    font-weight: $font-medium;

    &.active,
    &:hover {
      color: $gray-ab;
    }

    i {
      margin-left: 4px;
    }

    &-wrap {
      position: relative;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__link-wrap:hover & {

    &__link {
      color: $gray-ab;
    }

    &__submenu {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__submenu {
    position: absolute;
    top: calc(100% + 20px);
    left: -20px;
    width: 475px;
    padding: 30px 25px;
    display: flex;
    flex-wrap: wrap;
    background-color: $white;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transform: translateY(15px);
    transition: all .2s ease;

    &:before {
      content: "";
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 20px;
      position: absolute;
    }

    li {
      padding: 0 5px;
      width: 50%;
      margin-bottom: 10px;
      display: inline-block;

      a {
        font-size: 14px;
        font-weight: $font-medium;
        color: $black;

        &:hover {
          color: $gray-ab;
          transform: translateX(2px);
        }
      }
    }
  }
}
