<div class="about-us-page">
  <div class="container about-us-page__container">
    <div class="about-us-page__inner">
      <h1 class="about-us-page__title" i18n>Приветствуем тебя в нашем магазине!</h1>
      <div class="about-us-page__description" i18n>
        WoodPosters – это украинский бренд трёх друзей, которые не побоялись
        объединить усилия, чтобы создавать безумно крутой и стильный декор из
        дерева.
        Всё началось в 2017 году, когда нам пришла идея реанимировать моду на
        постеры. Мы с теплотой вспоминаем времена, когда все стены комнат
        завешивались бумажными плакатами с изображениями любимых героев и
        музыкантов, спортсменов и актёров, автомобилей и мотоциклов. Так и был
        придуман наш новый продукт – состаренный вручную деревянный постер.
        Это не просто картина. Постер на стене – это декор, который задает
        настроение и стиль всей комнате. Постер – это образ, с которым связаны
        наши самые приятные воспоминания и самые заветные мечты. В конце
        концов постером можно просто &quot;прикрыть дырку на обоях&quot;. Снова пришло
        время оживить пустые безликие стены!
        Фундаментом для появления бренда WoodPosters стал долгий опыт нашей
        работы с деревом в столярной мастерской. Мы нашли свой фирменный
        &quot;винтажный&quot; стиль в изделиях и уже несколько лет производим различный
        декор для создания оригинальных и запоминающихся интерьеров жилых
        помещений, кафе, баров и барбершопов. А наши деревянные постеры,
        шкатулки, ключницы и вечные календари – это еще и красивый и
        оригинальный подарок.

        Хочешь подержать в руках и пощупать наш товар перед покупкой? Приходи
        в наши фирменные магазины или ищи нашу продукцию в лучших магазинах
        декора и подарков твоего города. Если хочешь купить прямо сейчас –
        оформляй заказ онлайн.
        Остались вопросы – пиши нам сообщение в
        <a href="https://www.facebook.com/WoodpostersHandmade/" class="footer__socials-link" target="_blank">Facebook</a>
        или <a href="https://instagram.com/wood.posters" class="footer__socials-link" target="_blank">Instagram</a>
        . Хочется поблагодарить или поругать нас?
        Оставляй комментарий на нашей странице с отзывами
        (facebook.com/WoodpostersHandmade/reviews)
        По вопросам сотрудничества, оптовых и корпоративных заказов,
        предложений и пожеланий можно написать нам на электронную почту
        <a href="mailto:woodposters.ua@gmail.com">woodpostersua@gmail.com</a>.

      </div>
      <div class="about-us-page__our-phone">
        <div class="about-us-page__our-phone-label" i18n>Наш Телефон</div>
        <div class="about-us-page__our-phone-phone" i18n>+38-097-340-7233</div>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="about-us-page__form">
        <div class="about-us-page__form-title" i18n>
          Связаться с нами
        </div>
        <div class="about-us-page__form-body">
          <div class="input about-us-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Имя" [(ngModel)]="person.name" name="name">
            </mat-form-field>
          </div>
          <div class="input about-us-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Фамилия" [(ngModel)]="person.firstname" name="firstname">
            </mat-form-field>
          </div>
          <div class="input about-us-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="person.email" name="email">
            </mat-form-field>
          </div>
          <div class="input about-us-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Номер телефона" [(ngModel)]="person.phone" name="phone">
            </mat-form-field>
          </div>
          <div class="input about-us-page__form-textarea">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Сообщение" [(ngModel)]="person.message" name="message"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="about-us-page__form-footer">
          <div class="about-us-page__form-subscribe">
            <mat-checkbox class="example-margin" name="subscribe" [(ngModel)]="checked" i18n>Подписаться на рассылку</mat-checkbox>
          </div>
          <div class="about-us-page__form-send">
            <button class="button" i18n>Отправить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
