<div class="about-us-page">
  <div class="container about-us-page__container">
    <div class="about-us-page__inner">
      <h1 class="about-us-page__title">О нас</h1>
      <div class="about-us-page__description">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
        Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
        Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
      </div>
      <div class="about-us-page__our-phone">
        <div class="about-us-page__our-phone-label">Наш Телефон</div>
        <div class="about-us-page__our-phone-phone">556-626-4950</div>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="about-us-page__form">
        <div class="about-us-page__form-title">
          Связаться с нами
        </div>
        <div class="about-us-page__form-body">
          <div class="input about-us-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Имя" [(ngModel)]="person.name" name="name">
            </mat-form-field>
          </div>
          <div class="input about-us-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Фамилия" [(ngModel)]="person.firstname" name="firstname">
            </mat-form-field>
          </div>
          <div class="input about-us-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="person.email" name="email">
            </mat-form-field>
          </div>
          <div class="input about-us-page__form-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Номер телефона" [(ngModel)]="person.phone" name="phone">
            </mat-form-field>
          </div>
          <div class="input about-us-page__form-textarea">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Сообщение" [(ngModel)]="person.message" name="message"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="about-us-page__form-footer">
          <div class="about-us-page__form-subscribe">
            <mat-checkbox class="example-margin" name="subscribe" [(ngModel)]="checked">Подписаться на рассылку</mat-checkbox>
          </div>
          <div class="about-us-page__form-send">
            <button class="button">Отправить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
