<div class="filter-panel">
  <div class="filter-panel__inner" >
    <div class="filter-panel__top">
      <div class="filter-panel__filters" (click)="showFilters()">
        <div class="filter-panel__filters-button">
          <span></span><span></span><span></span>
        </div>
        <div class="filter-panel__filters-name" i18n>
          Фильтры
        </div>
      </div>
      <div class="filter-panel__category" *ngIf="showProductAndCategoriesLabel">{{categoryName}} <span>{{productSize}} <span i18n>шт</span>.</span></div>
      <div class="filter-panel__sorting">
        <mat-form-field>
            <mat-select [(value)]="ordering" placeholder="Сортировать по" (change)="changeOrdering()">
              <mat-option value="name:false" i18n>Название а-я</mat-option>
              <mat-option value="name:true" i18n>Название я-а</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="filter-panel__used-filters" *ngIf="selectedFilters && selectedFilters.length > 0">
      <div class="filter-panel__used-filters-item" *ngFor="let selectedFilter of selectedFilters" (click)="removeFilter(selectedFilter)">{{selectedFilter.name}}</div>
    </div>
  </div>
  <app-filter-sidebar [(hiddenSection)]="hiddenSection"></app-filter-sidebar>
</div>
