<div class="filter-panel">
  <div class="filter-panel__inner" >
    <div class="filter-panel__top">
      <div class="filter-panel__filters" (click)="showFilters()">
        <!--<div class="filter-panel__filters-button">
          <span></span><span></span><span></span>
        </div>
        <div class="filter-panel__filters-name">
          Фильтры <span>2</span>
        </div>-->
      </div>
      <div class="filter-panel__category" *ngIf="showProductAndCategoriesLabel">{{categoryName}} <span>{{productSize}}</span></div>
      <div class="filter-panel__sorting">
        <mat-form-field>
            <mat-select [(value)]="ordering" placeholder="Сортировать по" (change)="changeOrdering()">
              <mat-option value="price:true">По цене убывание</mat-option>
              <mat-option value="price:false">По цене возрастание</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!--div class="filter-panel__used-filters">
      <div class="filter-panel__used-filters-item">Покраска</div>
      <div class="filter-panel__used-filters-item">Покраска</div>
    </div-->
  </div>
  <app-filter-sidebar [(hiddenSection)]="hiddenSection"></app-filter-sidebar>
</div>
