<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__top">
      <div class="footer__logo">
        <img src="assets/images/logo.svg" alt="WOOD">
      </div>
      <div class="footer__nav">
        <app-navigation [reverse]="true"></app-navigation>
      </div>
      <div class="footer__phone">
        <a href="tel:+38-063-717-8662" class="footer__phone-link">+38-063-717-8662</a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        © 2016 Wood Posters. Все права защищены
      </div>
      <div class="footer__socials">
        <a href="#" class="footer__socials-link"><img src="assets/images/facebook-icon.svg" targe="_blank" alt="facebook-icon"></a>
        <a href="#" class="footer__socials-link"><img src="assets/images/twitter-icon.svg" target="_blank" alt="facebook-icon"></a>
      </div>
    </div>
  </div>
</footer>
