<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__top">
      <div class="footer__logo">
        <img src="assets/images/logo.svg" alt="WOOD">
      </div>
      <div class="footer__nav">
        <app-navigation [reverse]="true"></app-navigation>
      </div>
      <div class="footer__phone">
        <a href="tel:+38 097 340 7233" class="footer__phone-link">+38 097 340 7233</a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        © 2019 WoodPosters. <span i18n>Все права защищены</span>
      </div>
      <div class="footer__socials">
        <a href="https://www.facebook.com/WoodpostersHandmade/" class="footer__socials-link" target="_blank"><img src="assets/images/facebook-icon.svg" target="_blank" alt="facebook-icon"></a>
        <a href="https://www.instagram.com/wood.posters/" class="footer__socials-link fa fa-instagram" target="_blank"></a>
      </div>
    </div>
  </div>
</footer>
