@import './src/sass/variables';
$image-path:"../../../../assets/images/";

.footer {
  padding: 65px 0;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 58px;
  }

  &__nav {
    @include ipad {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  &__logo {
    margin-right: 80px;
  }

  &__phone {
    margin-left: auto;

    a {
      color: $black;
      font-size: 18px;
      font-weight: $font-medium;

      &:hover {
        color: $gray-ab;
      }
    }
  }

  &__copyright {
    color: $gray-ab;
  }

  &__socials {

    @include mobile {
      min-width: 130px;
    }

    &-link {
      margin-left: 40px;
      width: 34px;
      height: 34px;
      background-size: cover !important;

      @include mobile {
        margin-left: 15px;
        width: 24px;
        height: 24px;
      }

      &-facebook {
        background: url("#{$image-path}FB_bw.png") top center no-repeat;

        &:hover {
          background: url("#{$image-path}FB_col.png") top center no-repeat;
        }
      }

      &-instagram {
        background: url("#{$image-path}Inst_bw.png") top center no-repeat;

        &:hover {
          background: url("#{$image-path}Inst_col.png") top center no-repeat;
        }
      }

      &-youtube {
        background: url("#{$image-path}YouTube_bw.png") top center no-repeat;

        &:hover {
          background: url("#{$image-path}YouTube_col.png") top center no-repeat;
        }
      }

      &.fa{
        font-size: 24px;
      }

      &:hover {
        opacity: .7;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
