<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__top">
      <div class="footer__logo">
        <img src="" alt="WOOD">
      </div>
      <div class="footer__nav">
        <app-navigation></app-navigation>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        © 2016 Wood Posters. Все права защищены
      </div>
      <div class="footer__socials">
        <a href="">f</a>
        <a href="">v</a>
      </div>
    </div>
  </div>
</footer>
