<div mat-button [matMenuTriggerFor]="menu" class="mobile-nav-trigger">
  <span></span><span></span><span></span>
</div>

<div class="mobile-nav">
  <mat-menu #menu="matMenu">
    <li mat-menu-item class="mobile-nav__link-wrap"><a routerLink="/trends" class="mobile-nav__link" routerLinkActive="active" i18n>В тренде</a></li>
    <li mat-menu-item class="mobile-nav__link-wrap"><a routerLink="/category" class="mobile-nav__link" routerLinkActive="active" i18n>Каталог</a></li>
    <li mat-menu-item class="mobile-nav__link-wrap"><a routerLink="/collections" class="mobile-nav__link" routerLinkActive="active" i18n>Коллекции</a></li>
    <li mat-menu-item class="mobile-nav__link-wrap"><a routerLink="/about-us" class="mobile-nav__link" routerLinkActive="active" i18n>О нас</a></li>
  </mat-menu>
</div>

