//base
@import "~normalize-scss/sass/_normalize.scss";
@import "sass/variables";
@import "sass/fonts";
@import "sass/grid";

//blocks
@import "sass/blocks/button";

//add normalize rules
@include normalize();


body, html {
  font-family: 'Roboto';
  font-size: $base-font-size;
  font-weight: $font-regular;
}

img {
  max-width: 100%;
  height: auto;
}

a, button {
  display: inline-block;
  transition: all .2s ease;
  text-decoration: none;
  line-height: 1;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

