//base
@import "~normalize-scss/sass/_normalize.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "sass/variables";
@import "sass/fonts";
@import "sass/grid";

//blocks
@import "sass/blocks/button";

//add normalize rules
@include normalize();

* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto';
  font-size: $base-font-size;
  font-weight: $font-regular;
}

img {
  max-width: 100%;
  height: auto;
}

a, button, input {
  display: inline-block;
  transition: all .2s ease;
  text-decoration: none;
  line-height: 1;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;

  & > * {
    display: block;
    width: calc(33.33% - 8px);
    margin-bottom: 12px;

    &:not(:nth-child(3n)){
      margin-right: 12px;
    }
  }
}

body perfect-scrollbar>.ps.ps--active-y>.ps__rail-y {
  right: -18px !important;
}

.input {
  input.mat-input-element,
  textarea.mat-input-element {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background-color: $white;
    border: solid 1px $gray-e7;
    font-size: 14px;
    color: $black;
    padding: 20px 12px 5px;
  }

  textarea.mat-input-element {
    min-height: 150px;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-placeholder {
    top: 30px;
    left: 12px;
    font-size: 14px;
    color: $gray-ab;
  }

  .mat-form-field-infix {
    padding: 0;
    margin: 0;
  }

  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder {
    transform: translateY(-13px) scale(.85) perspective(100px) translateZ(.001px);
  }
}

div.mat-checkbox-frame,
div.mat-checkbox-background {
  border-width: 1px;
  border-color: $gray-e7;
  border-radius: 4px;
}

.mat-form-field-infix,
.mat-form-field-placeholder-wrapper {

}
.filter-panel__sorting {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-placeholder {
    color: $black;
    font-weight: $font-medium;
  }
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12) !important;
}

.mat-select-panel {
  border-radius: 4px;
}

.mat-option,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
  color: $black !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.mat-expansion-panel-spacing {
  margin-bottom: 0;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

.mat-expansion-panel {
  border-top: 1px solid $gray-ab;
  color: $black !important;
}

.mat-content {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: $font-medium;
  color: $black;

  span {
    color: $gray-ab;
    margin-left: 5px;
  }
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background-color: $white;
}

.mat-checkbox-inner-container {
  width: 14px !important;
  height: 14px !important;

  .mat-checkbox-frame {
    border-radius: 0 !important;
  }
}

.mat-expansion-panel-header,
.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $black;
}

.mat-checkbox-ripple * {
  background-color: rgba(0,0,0,.3) !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-dialog-container {
  padding: 0 !important;
}

.cdk-overlay-pane {
  max-width: 100vw !important;
}

