<div class="product-details" *ngIf="product">
  <div class="product-details__image">
    <div class="product-details__image-main">
      <img src="{{product.image}}" alt="">
      <button class="product-details__image-open-gallery"></button>
      <button class="product-details__image-on-wall" (click)="openDialog()">Показать на стене</button>
    </div>
    <div class="product-details__images">
      <div class="product-details__images-item">
        <img src="https://trikon.kiev.ua/sites/default/files/shkatulka-kolets-orex-6.jpg" alt="">
      </div>
      <div class="product-details__images-item">
        <img src="https://trikon.kiev.ua/sites/default/files/shkatulka-kolets-orex-6.jpg" alt="">
      </div>
      <div class="product-details__images-item">
        <img src="https://trikon.kiev.ua/sites/default/files/shkatulka-kolets-orex-6.jpg" alt="">
      </div>
      <div class="product-details__images-item">
        <img src="https://trikon.kiev.ua/sites/default/files/shkatulka-kolets-orex-6.jpg" alt="">
      </div>

      <div class="product-details__images-show-more">+8</div>
    </div>
  </div>
  <div class="product-details__info">
    <div class="product-details__category">{{product.productType.name}}</div>
    <div class="product-details__name">{{product.name}}</div>
    <div class="product-details__price">{{product.price}} грн.</div>
    <ul class="product-details__params">
      <li class="product-details__param"><strong>Размер</strong> <span>{{product.size}}</span></li>
      <li class="product-details__param"><strong>Техника</strong>
        <span *ngFor="let technology of product.technologies; let isLast=last">
            {{technology.name}}{{isLast ? '' : ', '}}
        </span>
      </li>
      <li class="product-details__param"><strong>Материал</strong>
        <span *ngFor="let material of product.materials; let isLast=last">
            {{material.name}}{{isLast ? '' : ', '}}
        </span>
      </li>
    </ul>
    <div class="product-details__buttons">
      <div class="product-details__counter">
        <button [disabled]="isMinusDisabled()" (click)="changeProductCountMinus()">-</button>
        <input  value="{{productCount}}" type="text">
        <button (click)="changeProductCountPlus()">+</button>
      </div>
      <button class="button product-details__button" (click)="addProductToCart(product)">В корзину</button>
    </div>
    <div class="product-details__share">
      <div class="product-details__share-text">Поделиться</div>
      <div class="product-details__share-icons">
        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="product-details__description">
      <p>{{product.description}}</p>
      <div class="product-details__description-toggle">+ Еще</div>
    </div>
  </div>
</div>
