<div class="product-details">
  <div class="product-details__image">
    <div class="product-details__image-main">
      <img src="assets/images/fcba79ebde14ddf33065b3c144644696.jpg" alt="">
      <button class="product-details__image-open-gallery"></button>
      <button class="product-details__image-on-wall" (click)="openDialog()">Показать на стене</button>
    </div>
    <div class="product-details__images">
      <div class="product-details__images-item">
        <img src="https://trikon.kiev.ua/sites/default/files/shkatulka-kolets-orex-6.jpg" alt="">
      </div>
      <div class="product-details__images-item">
        <img src="https://trikon.kiev.ua/sites/default/files/shkatulka-kolets-orex-6.jpg" alt="">
      </div>
      <div class="product-details__images-item">
        <img src="https://trikon.kiev.ua/sites/default/files/shkatulka-kolets-orex-6.jpg" alt="">
      </div>
      <div class="product-details__images-item">
        <img src="https://trikon.kiev.ua/sites/default/files/shkatulka-kolets-orex-6.jpg" alt="">
      </div>

      <div class="product-details__images-show-more">+8</div>
    </div>
  </div>
  <div class="product-details__info">
    <div class="product-details__category">Постеры</div>
    <div class="product-details__name">"Costa Rica"</div>
    <div class="product-details__price">700 грн.</div>
    <ul class="product-details__params">
      <li class="product-details__param"><strong>Размер</strong> <span>145 x 145 x 70</span></li>
      <li class="product-details__param"><strong>Техника</strong> <span>Декупаж, Состаривание</span></li>
      <li class="product-details__param"><strong>Материал</strong> <span>МДФ</span></li>
    </ul>
    <div class="product-details__buttons">
      <div class="product-details__counter">
        <button>-</button>
        <input value="1" type="text">
        <button>+</button>
      </div>
      <button class="button product-details__button">В корзину</button>
    </div>
    <div class="product-details__share">
      <div class="product-details__share-text">Поделиться</div>
      <div class="product-details__share-icons">
        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="product-details__description">
      <p>Шкатулка – это удобная и практичная вещица для хранения драгоценностей и бижутерии, денег, всевозможный мелочей.</p>
      <div class="product-details__description-toggle">+ Еще</div>
    </div>
  </div>
</div>
